%h2
  %em.fa.fa-pencil
  =t '.title'

- if @moderation.moderated?
  %h3.warning
    %em.fa.fa-warning
    =t '.warning'

%fieldset
  %legend
    %em.fa.fa-eye
    =t '.preview'
  = render file: '/events/show'

%fieldset
  %legend
    %em.fa.fa-pencil
    =t '.edit'
  = render '/events/form'
