%h2
  %em.fa.fa-pencil
  =title t '.title'

-  if @event.description
  %fieldset
    %legend
      %em.fa.fa-eye
      =t '.preview'
    = render file: '/events/show'

- else
  :markdown
    #{t '.subtitle'}

  #advises
    :markdown
      #{t '.advises'}

%fieldset
  %legend
    %em.fa.fa-plus
    =t '.edit'
  = render 'form'
