:markdown
  #{t '.content'}

%a(href="http://validator.w3.org/unicorn/check?ucn_uri=#{root_url}"
   style="text-decoration:none;")
  %img(src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-graphics-semantics.png"
    width="197" height="64"
    alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, and Semantics"
    title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, and Semantics")

%a(href="http://wave.webaim.org/report#/#{root_url}")
  %img(src="http://wave.webaim.org/img/wavelogo.png"
    height="55"
    alt="web accessibility evaluation tool"
    title="web accessibility evaluation tool")
