= t '.body', subject: @event.title,
  start_time: l(@event.start_time, format: :at)
= surround '<'.html_safe, '>'.html_safe do
  = edit_event_url @event, secret: @event.secret
\
= t '.delete_link'
= surround '<'.html_safe, '>'.html_safe do
  = cancel_event_url @event, secret: @event.secret
\
= t '.signature'
