// Tag list in event display
p.tags a:after
  color: black
  content: ','
p.tags a:last-child:after
  content: ''

.css1
  font-size: 0.8em
.css2
  font-size: 1.0em
.css3
  font-size: 1.4em
.css4
  font-size: 1.8em

.tagsinput
  border: none !important
  padding: 0 !important
  display: inline-block
  min-width: 22em
  vertical-align: top

  input, .ui-autocomplete-input
    border: 1px solid darkgray
    padding: 0.2em 0.4em
    font-size: inherit
    margin-right: 0
  *:first-child
    input, .ui-autocomplete-input
      min-width: 22em

.ui-widget-content
  text-align: left
